
#blok1 {
position:absolute;
top:60px;
text-align: center;
width:800px;
height:47px;
background-color: lightblue;
border: solid 3px red;
}

#blok2 {
 position:fixed;
 top: 127px;
text-align: center;
 width:800px;
 height:510px;
background-color: lightblue;
border: solid 3px red;
border-radius: 15px

}

.nav { 

 
 color:White;
 background-color:none;
 margin:35px;
 text-decoration:none;
 font-family: "Monospace", "Lucida Console", serif; 
font-size: 20px;


}

.nav:hover {
  color: #2C64C0;
border: solid 1px #2C64C0;
border-radius: 5px
}

.nrugby { 
 display:inline;
 text-align:center;
 color:White;
 background-color:none;
 text-decoration:none;
 font-family: "Monospace", "Lucida Console", serif; 
 text-decoration: none;
border: dotted 1px black;
font-size: 15px;

}

.nrugby:hover {
  color: red;
  text-decoration: underline;
}

.ruy {
height: 275px;
width: 180px;
display: block;
margin-left: auto;
margin-right: auto;
border: solid 1px red;
}

.club {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
border: solid 1px red;
}

.scrum {
height: 150px;
width: 190px;
display: block;
margin-left: auto;
margin-right: auto;
border: solid 1px red;
}

body {
 background-color: #ffb39e;

}

footer {
 position:fixed;
 top: 635px;
text-align: center;
 width:800px;
 height:510px;
}

H3 {
text-align: center;

}

H9 {
text-align: center;
	
}
H10 {
text-align: center;
font-family: armenian;
color: white;
 text-decoration: underline;
}

li {

color: red;
}
td {
	
text-align:center;
}

table {
	
margin-left: 115px;
}

h13 {
 position:fixed;
 top: 598px;
 left:-283px;
 width:800px;
 height:510px;
}

.main{
    max-width: 850px;
    margin:auto;
}

#navigatie {
    list-style: none;
}

#navigatie li{
    display: inline-block;
	
}
